/build/
/devel/
.idea
.vscode
/thirdparty/ctraj-build/
/thirdparty/ctraj-install/
/thirdparty/ctraj/thirdparty/tiny-viewer-build/

!/output/imu_intri
/output/imu_intri/*
!/output/imu_intri/config-imu-intri-calib.yaml

!/output/simu
/output/simu/*
!/output/simu/truth_align_to_imu0.yaml
!/output/simu/config-simu.yaml

!/output/real-world
/output/real-world/*
!/output/real-world/identity.yaml

!/output/real-world/data_202392616822
/output/real-world/data_202392616822/*
!/output/real-world/data_202392616822/config-real.yaml
!/output/real-world/data_202392616822/imu1-intri.yaml
!/output/real-world/data_202392616822/imu2-intri.yaml

!/output/real-world/data_2023926145954
/output/real-world/data_2023926145954/*
!/output/real-world/data_2023926145954/config-real.yaml
!/output/real-world/data_2023926145954/imu1-intri.yaml
!/output/real-world/data_2023926145954/imu2-intri.yaml

!/output/real-world/data_2023926155612
/output/real-world/data_2023926155612/*
!/output/real-world/data_2023926155612/config-real.yaml
!/output/real-world/data_2023926155612/imu1-intri.yaml
!/output/real-world/data_2023926155612/imu2-intri.yaml

/cmake-build-debug
/cmake-build-release

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc